*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
.main{
	margin: 0px auto;
	width: 980px;
	font-size: 14px;
}
#top{
	margin-top: 5px;
	height: 100px;
	line-height: 95px;
	font-size: 24px;
	color: white;
	text-left: center;
	font-weight: 500;
	width: 500px;
	background-color: #02335c;
}
#top p{
	float: left;
	padding-left: 12px;
}
.clear{
	clear: both;
}
h1{
	font-size: 24px;
	color: #02335c;
}
.text p{
	padding: 20px;
}
#footer{
	margin-top: 80px;
	background-color:#02335c ;
	height: 900px;
	text-align: center;
	color: white;
	font-size: 20px;
}
#footer p{
	padding: 20px;
}
#footer table{
	width: 450px;
	margin: auto;
}
.code{
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 50px;
}
