*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
.main{
	margin: 0px auto;
	width: 980px;
	font-size: 14px;
}
#top{
	margin-top: 5px;
	height: 100px;
	line-height: 95px;
	font-size: 24px;
	color: white;
	text-left: center;
	font-weight: 500;
	width: 500px;
	background-color: #02335c;
}
#top p{
	float: left;
	padding-left: 12px;
}
.clear{
	clear: both;
}
h1{
	font-size: 24px;
	color: #02335c;
}
h3{
	color: #02335c;
	font-size: 18px;
}
.text p{
	padding: 20px;
}
#footer{
	margin-top: 80px;
	background-color:#02335c ;
	height: 200px;
	text-align: center;
	color: white;
	font-size: 20px;
}
#footer p{
	font-size: 18px;
}
#footer table{
	width: 450px;
	margin: auto;
}
#footer table tr td{
	border: none;
}
.code{
	margin: auto;
	margin-top: 3px;
	margin-left: 40px;
}
.code p{
	margin-top: 3px;
}
.code img{
	width: 130px;
	height: 130px;
}
.TRS_PreAppend{
	width: 100% !important;
}
.fenge{
	width: 100%;
	height: 60px;
	margin-top: 60px;
	border-top: dashed 2px #002650;
}
.wrap{
	padding-top: 15px;
	width: 980px;
    margin: 0px auto;
    overflow: hidden;
}
.wrap span{
	font-size: 14px;
}
.footP{
	margin-left: 100px;
}
