@charset "utf-8";
.history {
	width:100%;
	height:750px;
	position:relative;
	background:url("../images/history_bg.png") center no-repeat
}
.start-history {
	width:1000px;
	height:750px;
	margin:30px auto;
	text-align:center;
	background:url("../images/history_start.png") no-repeat top center;
	display:block
}
.cc_history {
	color:#2b2b2b;
	font-size:36px;
	font-weight:400;
	display:block;
	padding-top:43px
}
.next_history {
	color:#bbb;
	font-size:26px;
	width:160px;
	margin:0 auto;
	border-bottom:1px solid #d1d1d1
}
.history-img {
	height:720px;
	width:130px;
	overflow:hidden;
	float:left;
	margin-top:24px;
	margin-left:8px
}
.history_mid {
	width:1000px;
	height:auto;
	margin:0 auto;
	background:0
}
.history_left {
	width:431px;
	height:720px;
	float:left;
	clear:left;
	position:relative;
	overflow:hidden
}
.history_right {
	width:431px;
	height:720px;
	float:left;
	position:relative;
	overflow:hidden
}
.history_R {
	width:420px;
	height:100px;
	margin-left:500px
}
.history_L {
	width:420px;
	height:100px;
	float:right;
	margin-right:500px
}
.history_r_2005 {
	margin-top:157px
}

.history_2005_span {
	float:left;
	line-height:100px;
	font-size:42px;
	color:#d43434
}
.history_2005_b {
	width:280px;
	height:58px;
	float:left;
	margin-top:21px;
	background:url("../images/sprites.png") center;
	background-position:0 -1300px
}
.history_r_month {
	float:left;
	color:#FFF;
	display:block;
	width:30px;
	line-height:25px;
	height:58px;
	border-right:1px solid #FFF;
	margin-left:25px
}
.history_r_text {
	float:left;
	font-size:14px;
	color:#FFF;
	display:block;
	height:58px;
	line-height:25px;
	padding-left:5px;
	text-align:left
}
.year2006 {
	margin-top:242px
}
.yearalmost {
	margin-top:73px
}
.yearalmostr {
	margin-top:70px
}
.history_2006_span {
	float:right;
	text-align: center;
	line-height:100px;
	font-size:42px;
	color:#d43434
}
.history_2006_b {
	width:280px;
	height:58px;
	float:right;
	margin-top:21px;
	background:url("../images/sprites.png") center;
	background-position:0 -1200px
}

.history_l_month {
	float:right;
	color:#FFF;
	display:block;
	width:30px;
	line-height:25px;
	height:58px;
	border-left:1px solid #FFF;
	margin-right:37px
}

.history_l_text {
	float:left;
	font-size:14px;
	color:#FFF;
	display:block;
	height:58px;
	line-height:25px;
	padding-top:3px;
	width:202px;
	text-align:right;
	padding-right:5px
}


