body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
	color: #333;}
.header {
    background: #fff;
    height: 153px;
}
.logo {
    margin-top: 40px;
}
.fl {
    float: left;
}
.navhead {
    padding: 25px 0px 0 0;
}
.navhead div {
    height: 40px;
    width: 76px;
}
.navhead p {
    font-size: 12px;
    color: #313131;
    text-align: center;
    margin-top: 7px;
    line-height: 12px;
}
.nav1 div {
    background: center bottom no-repeat;
    text-align: center;
}
.nav1:hover p{
	color: rgb(232,25,41);
}
.nav1:hover .on{
	display: inline;
}
.nav1:hover .in{
	display: none;
}
a {
    color: #333;
    text-decoration: none;
}
.fr {
    float: right;
}
ul {
    list-style: none;
}
.navhead li {
    width: 76px;
    height: 60px;
    background: url(../images/navline.png) 74px 20px no-repeat;
}
.flul li, .contentfl li {
    float: left;
}
.logo span {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
}
.on{display: none;}

.bar {
    height: 42px;
    background: #F6F6F6;
    font-size: 14px;
    line-height: 42px;
    margin-top: 26px;
}
.headwrap::after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.headwrap {
    width: 1052px;
    margin: 0 auto;
    zoom: 1;
}
#bar {
    overflow: visible;
    padding-left: 50px;
}
#bar li:hover{
	background-color: rgb(232,25,41);
}
#bar li:hover a{
	color: #fff;
}
.bar li {
    position: relative;
    z-index: 100;
    height: 42px;
    padding: 0 40px;
}
a:hover{
	text-decoration: none;
}


