body{
	font-family: "微软雅黑";
}
.wrap{
	width: 935px;
    margin: 0px auto;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.title{
	margin: 0px;
	padding: 15px 0;
    font-size: 26px;
    font-weight: bold;
    color: #02335b;
    text-align: center;
    background: url(../images/h1Bg.jpg) repeat-x;
}
.center{
	position: absolute;
	left: 0px;
	top: 24px;
	width: 100%;
	background: #02335c;
	height:3px;
	z-index: -9999;
}
.separate{
	margin-top: 30px;
	position: relative;
	height:50px;
}

.tl{
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color:#02335c;
	color: #fff;
	font-size: 22px;
	font-weight:bold;
	border-radius: 15px;
	margin: auto;
}
.tl2{
	width: 550px;
}
.tl3{
	width: 320px;
}
.tl4{
	width: 500px;
}
.tl5{
	width: 350px;
}
.tl6{
	width: 420px;
}
.title:nth-of-type(1){
	margin-top: 50px;
}
.text1{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 800px;
	font-size: 16px;
	line-height: 30px;
	color: #000;
}
.text2{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 800px;
	font-size: 16px;
	line-height: 30px;
	color: black;
}
.text3{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 800px;
	font-size: 16px;
	line-height: 30px;
	color: black;
	text-align: center;
}
.text4{
	margin-bottom: 30px;
	font-size: 16px;
	color: black;
}
#headimg{
	margin-top: 5px;
	height: 484px;
    background: rgba(0, 0, 0, 0) url(../images/course_fea_img/bannerBg4.png) no-repeat scroll center top;
}
#headimg ul{
	width: 980px;
    display: block;
    margin:auto;
    list-style: none;
    padding: 345px 0 0;
}
#headimg ul li{
	float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 53px;
}
#headimg ul li:nth-of-type(2){
	margin-left: 112px;
	margin-top: 0px !important;
}
#headimg ul li:nth-of-type(3){
	margin-left: 106px;
	margin-top: -3px !important;
}
#headimg ul li:nth-of-type(4){
	margin-left: 114px;
	
}
#headimg ul li:nth-of-type(5){
	margin-left: 130px;
}
#headimg ul li a{
	color: #95eaff;
	font-family: '微软雅黑';
    text-decoration: none;
}
#headimg ul li:hover{
	/*border-top: solid 3px #95eaff;
	border-bottom: solid 3px #95eaff;*/
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */
}
#sector2{
	background: #fff;
}
#sector2_img{
	margin: auto;
	width: 440px;
	height: 440px;
	background: url(../images/course_fea_img/threecircle2.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.inner_img:nth-of-type(1){
	width: 50px;
	height: 65px;
	position: absolute;
	top: 35%;
	left: 24%;
	background: url(../images/course_fea_img/bulb.png) no-repeat;
	background-size: 100% 100%;
}
.inner_img:nth-of-type(2){
	width: 53px;
	height: 43px;
	position: absolute;
	top: 37%;
	left: 67%;
	background: url(../images/course_fea_img/arrow.png) no-repeat;
	background-size: 100% 100%;
}
.inner_img:nth-of-type(3){
	width: 49px;
	height: 59px;
	position: absolute;
	top: 71%;
	left: 45%;
	background: url(../images/course_fea_img/file.png) no-repeat;
	background-size: 100% 100%;
}
.inner_text{
	width: 100px;
	min-height: 50px;
	color: white;
}
.inner_text h1{
	font-size: 26px;
	text-align: center;
	margin: 0px;
}
.inner_text p{
	font-size: 16px;
}
.inner_text:nth-of-type(1){
	position: absolute;
	top: 10%;
	left: 40%;
}
.inner_text:nth-of-type(2){
	position: absolute;
	top: 63%;
	left: 8%;
}
.inner_text:nth-of-type(3){
	position: absolute;
	top: 63%;
	left: 73%;
}
#sector3{
	background: #FFF;
	color: #000;
}
#sector3_img{
	width: 800px;
	height: 470px;
	margin: auto;
}
#sector3_img1,#sector3_img2{
	float: left;
	margin: 5px;
}
#sector3_img1 div,#sector3_img2 div{
	width: 384px;
	height: 230px;
}
#sector3_img1 div:nth-of-type(1){
	margin-bottom: 10px;
	background: url(../images/course_fea_img/img4_1.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector3_img1 div:nth-of-type(2){
	background: url(../images/course_fea_img/img4_2.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector3_img2 div:nth-of-type(1){
	margin-bottom: 10px;
	background: url(../images/course_fea_img/img4_3.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector3_img2 div:nth-of-type(2){
	background: url(../images/course_fea_img/Google.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector4{
	background: white;
}
#sector5{
	background: white;
}
#sector5_img{
	height: 570px;
	width: 935px;
}
.sector5_img{
	margin: 5px;
}
.sector5_img div{
	margin: 5px;
	float: left;
	width: 298px;
	height: 180px;
}
.sector5_img:nth-of-type(1) div:nth-of-type(1){
	background: url(../images/course_fea_img/shixi1.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(1) div:nth-of-type(2){
	background: url(../images/course_fea_img/shixi2.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(1) div:nth-of-type(3){
	background: url(../images/course_fea_img/t1.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(2) div:nth-of-type(1){
	background: url(../images/course_fea_img/gongsi2.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(2) div:nth-of-type(2){
	background: url(../images/course_fea_img/gongsi5.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(2) div:nth-of-type(3){
	background: url(../images/course_fea_img/gongsi8.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(3) div:nth-of-type(1){
	background: url(../images/course_fea_img/teambition.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(3) div:nth-of-type(2){
	background: url(../images/course_fea_img/gongsi9.jpg) no-repeat;
	background-size: 100% 100%;
}
.sector5_img:nth-of-type(3) div:nth-of-type(3){
	background: url(../images/course_fea_img/gongsi0.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector6{
	background: white;
}
#table1{
	text-align: center;
}
#table1 td{
	border: 1px #898989 solid;
	padding: 10px;
}
.text_left{
	text-align: left;
}
.font_1{
	font-weight: bold;
	font-size: 18px;
}
.font_2{
	font-weight: bold;
}
#tabletitle{
	background: #042d54;
	width: 935px;
	height: 70px; 
	color: white;
	text-align: center;
	font-size: 20px;
}
.tablerow2{
	height: 30px;
	background: #6eafdd;
}
.table_content{
	background: white;
}
.example1{
	margin-left: 17px;
	margin-right: 17px;
}
.example2{
	width: 220px;
	height: 180px;
	margin-left: 17px;
	margin-right: 17px;
}
.class_schedule{
	width:449px;
	float: left;
}
.class_schedule h2{
	font-weight: 650;
	text-align: center;
	color: #898989;
}
.class_schedule:nth-of-type(2) h2{
	font-weight: 650;
	text-align: center;
	color: #044a85;
}
.class_schedule:nth-of-type(2){
	margin-left: 34px;
}
.tableAB{
	margin: auto;
	width: 400px;
	border: #D0C1C1;
	text-align: center;
	color: #898989;
}
.tableABheight{
	height: 50px;
}
.tableABheight2{
	height: 8px;
}
.tableAbgcolor{
	border-radius: 10px;
	background-color:#898989;
	padding: 0px 3px 0px 3px;
}
.tableAbgcolor span{
	color: white;
	display: block;
}
.no_border{
	border-left: none;
	border-right: none;
}
.no_border1{
	border-right: none;
}
.no_border2{
	border-left: none;
}
/*.tableAbgcolor2{
	border-radius: 10px;
	background-color:#65c6bb;
}
.tableAbgcolor3{
	border-radius: 10px;
	background-color:#68c3a3;
}*/
.tableBbgcolor{
	border-radius: 10px;
	background: #044a85;
}
.tableBbgcolor span{
	color: white;
}
/*.tableBbgcolor1{
	border-radius: 10px;
	background: #4184d7;
}
.tableBbgcolor2{
	border-radius: 10px;
	background: #81cfe0;
}*/
#course_contrast{
	float: left;
	width: 935px;
	position: relative;
}
#course_contrast p{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin-top: 80px;
}
#tablecompare1{
	margin-top: 50px;
	float: left;
	width: 425px;
	height: 435px;
	/*background: url(../images/img10.jpg);*/
}
#tablecompare2{
	margin-top: 50px;
	float: left;
	width: 425px;
	height: 435px;
	/*background: url(../images/img10.jpg);*/
}
#tablevs{
	width: 85px;
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	float: left;
	margin-top: 200px;
}
#footer{
	height: 80px;
	background: #404040;
}
.title_1{
	
}
