.wrap{
	width: 935px;
    margin: 0px auto;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 60px;
}
.title{
	margin: 0px;
	padding: 15px 0;
    font-size: 26px;
    font-weight: bold;
    color: #02335c;
    text-align: center;
    background: url(../images/h1Bg.jpg) repeat-x;
}
.text1{
	margin: auto;
	margin-bottom: 30px;
	width: 800px;
	font-size: 16px;
	line-height: 22px;
	color: white;
}

.text3{
	margin: auto;
	margin-bottom: 30px;
	width: 800px;
	font-size: 16px;
	line-height: 22px;
	color: black;
	text-align: center;
}

#headimg{
	margin-top: 5px;
	height: 484px;
    background: rgba(0, 0, 0, 0) url(../images/employee/bannerBg.png) no-repeat scroll center top;
}
#headimg ul{
	width: 980px;
    display: block;
    margin:auto;
    list-style: none;
    padding: 346px 0 0;
}
#headimg ul li{
	float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 54px;
}
#headimg ul li:nth-of-type(2){
	margin-left: 114px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(3){
	margin-left:104px;
	margin-top: -4px !important;
}
#headimg ul li:nth-of-type(4){
	margin-left: 112px;
	margin-top: -3px !important;
}
#headimg ul li:nth-of-type(5){
	margin-left: 130px;
	margin-top: -3px !important;
}
#headimg ul li a{
	color: #95eaff;
	font-family: '微软雅黑';
    text-decoration: none;
}
#headimg ul li:hover{
	/*border-top: solid 3px #95eaff;
	border-bottom: solid 3px #95eaff;*/
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */
}
#sector2{
	background: white;
}
#sector2_img{
	margin: auto;
	width: 100%;
	height: 500px;
	background:white;
	position: relative;
}
.text2{
	margin: auto;
	padding-top: 20px;
	margin-top: 10px;
	width: 700px;
	font-size: 16px;
	line-height: 30px;
}
#sector3{
	margin-bottom: 80px;
	height: 500px;
	background: url(../images/employee/Eblue.png);
	background-size: cover;
}
#sector3_img1,#sector3_img2{
	float: left;
	margin: 5px;
}
#sector3_img1 div{
	width: 180px;
	height: 140px;
	background: url(../images/award.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector3_img1 div:nth-of-type(1){
	margin-bottom: 10px;
}
#sector3_img2 div{
	width: 180px;
	height: 140px;
	background: url(../images/award.jpg) no-repeat;
	background-size: 100% 100%;
}
#sector3_img2 div:nth-of-type(1){
	margin-bottom: 10px;
}
#sector4{
	height: 500px;
	background: white;
}
#sector5{
	background: white;
}
.fair{
	clear: both;
}
.fair div{
	margin: 5px;
	float: left;
	width: 298px;
	height: 180px;
	background-size: cover;
}

#sector6{
	background: white;
}
.class_schedule{
	clear: both;
}
.class_schedule li{
	display: block;
	float: left;
	list-style: none;
	width: 200px;
	height: 300px;
	margin-right: 21px;
	background-size: cover;
	text-align: center;
}
.class_schedule li a{
	color: #02335c;
    font-size: 22px;
    font-weight: bold;
}
.class_schedule li span{
	display: block;
	font-size: 10px;
}
#footer{
	height: 80px;
	background: #404040;
}
.center{
	position: absolute;
	left: 0px;
	top: 24px;
	width: 100%;
	background: #02335c;
	height:3px;
	z-index: -9999;
}
.separate{
	margin: 50px 0px 40px 0px;
	position: relative;
	height:50px;
}

.tl{
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 160px;
	background-color:#02335c;
	color: #fff;
	font-size: 22px;
	font-weight:bold;
	border-radius: 15px;
	margin: auto;
}
.tl1{
	width: 200px;
}
.tl2{
	width: 205px;
}
.tl3{
	width: 560px;
}
.tl4{
	width: 180px;
}
.tl5{
	width: 155px;
}