#section1{
	background: #5BC0DE;
	height: 600px;
}
#section2{
	background: #fff;
	height: 600px;
}
#section3{
	background: #5BC0DE;
	height: 600px;
}
#section4{
	background: #fff;
	height: 600px;
}
#section5{
	background: #5BC0DE;
	height: 600px;
}