*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	margin-top: 5px;
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/major/bannerBg.png") no-repeat scroll center top;
}
#headimg ul{
	width: 980px;
    display: block;
    margin:auto;
    list-style: none;
    padding: 346px 0 0;
}
#headimg ul li{
	float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 55px;
}
#headimg ul li:nth-of-type(2){
	margin-left: 108px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(3){
	margin-left: 110px;
	margin-top: -5px !important;
}
#headimg ul li:nth-of-type(4){
	margin-left: 112px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(5){
	margin-left: 127px;
	margin-top: -2px !important;
}
#headimg ul li a{
	color: #95eaff;
	font-family: '微软雅黑';
    text-decoration: none;
}
#headimg ul li:hover{
	/*border-top: solid 3px #95eaff;
	border-bottom: solid 3px #95eaff;*/
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */
}

#firstimg{
	width: 980px;
	text-align: center;
	margin: auto;
}

#secondimg{
	width: 980px;
	height: 448px;
	text-align: center;
	margin: auto;
}
.Pimg{
	margin-top: 90px;
	margin-left: 68px;
}
#thirdimg{
	text-align: center;
}

.center{
	position: absolute;
	left: 0px;
	top: 24px;
	width: 100%;
	background: #02335c;
	height:3px;
	z-index: -9999;
}
.separate{
	margin: 50px 0px 40px 0px;
	position: relative;
	height:50px;
}

.tl{
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 160px;
	background-color:#02335c;
	color: #fff;
	font-size: 22px;
	font-weight:bold;
	border-radius: 15px;
	margin: auto;
}
.tl1{
	width: 195px;
}
.clear{
	clear:both; height: 0; line-height: 0; font-size: 0;
}
.member{
	width: 980px;
	height: 280px;
	margin: auto;
	box-shadow: 0px 0px 20px 8px #D1D1D1;
}
.ppp1{
	font-size: 18px;
	text-indent: 2em;
	line-height: 30px;
	text-align: left;
	margin-bottom: 30px;
}
.menberleft{
	float: left;
	width: 480px;
	height: 350px;
	margin-left: 20px;
	margin-top: 25px;
}
.memberright{
	float: right;
	width: 480px;
	height: 350px;
	margin-top: 25px;
}
.mem1{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 150px;
	height: 164px;
}
.mem1 img{
	margin: 0px;
	padding: 0px;
	max-height: 164px;
}
.mem2{
	font-size: 16px;
	width: 280px;
	line-height: 30px;
	float: left;
	text-align: left;
	margin-left: 10px;
	padding-top: 20px;
}
.mem2 p{
	float: left;
}
.mem3{
	clear: both;
	font-size: 14px;
	text-align: left;
}
.mem3 p:nth-of-type(1){
	padding-top: 20px;
}
.teacherWork{
	width: 900px;
	margin: auto;
}
.teacherWork img{
	width: 115px;
}
.Twork{
	text-align: center;
	border-right: 1px solid #DADADA;
}
#footer{
	margin-top: 30px;
	height: 80px;
	background: #404040;
}
.can {
    overflow: hidden;
}
.can p {
    margin: 10px 0 0 0;
    line-height: 28px;
    font-size: 18px;
	font-weight: 500;
}
.schoolL{
	width: 477px;
	height: 224px;
	background-color: #263747;
	color: #fff;
}
.schoolR{
	float: right;
	width: 440px;
	height: 224px;
}
.schoolR h2{
	margin-top: 0px;
}
.frh2{
	width: 440px;
	height: 224px;
}
.frh2 h2{
	margin-top: 10px;
}
.sbg{
	width: 476px;
	height: 224px;
	background-color: #263747;
}
.sbg img{
	padding-top: 52px;
}
.wimg{
	margin-left: 10px;
	width: 120px;
	height: 80px;
}
.wimg img{ 
	width: 120px;
	height: 80px;
}
.Spic{
	margin-left: 38px;
}
.pic{
	margin-top: 8px;
	height: 82px;
}

.wrap{
	width: 830px;
    margin: 0px auto;
    overflow: hidden;
}
.wrap img{
	width: 385px;
	max-height: 218px;
}
.texts2{
	margin: auto;
	text-align: center;
	clear: both;
	padding-top: 20px;
	font-size: 18px;
	width: 750px;
}
#thirdimg_img1 div{
	margin-left: 20px;
	margin-top: 20px;
}
#thirdimg_img2{
	clear: both;
}
#thirdimg_img2 div{
	margin-left: 20px;
	margin-top: 20px;
}
