*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	margin-top: 5px;
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/major/bannerBg.png") no-repeat scroll center top;
}
#headimg ul{
	width: 980px;
    display: block;
    margin:auto;
    list-style: none;
    padding: 346px 0 0;
}
#headimg ul li{
	float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 55px;
}
#headimg ul li:nth-of-type(2){
	margin-left: 108px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(3){
	margin-left: 110px;
	margin-top: -5px !important;
}
#headimg ul li:nth-of-type(4){
	margin-left: 112px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(5){
	margin-left: 127px;
	margin-top: -2px !important;
}
#headimg ul li a{
	color: #95eaff;
	font-family: '微软雅黑';
    text-decoration: none;
}
#headimg ul li:hover{
	/*border-top: solid 3px #95eaff;
	border-bottom: solid 3px #95eaff;*/
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */
}

#firstimg{
	width: 860px;
	height: 465px;
	text-align: center;
	margin: auto;
}
#firstimg img{
	height: 400px;
}
#secondimg{
	width: 980px;
	height: 465px;
	text-align: center;
	margin: auto;
}
#secondimg img{
	width: 200px;
}
.Pimg{
	margin-top: 90px;
	margin-left: 68px;
}
#thirdimg{
	text-align: center;
	height: 475px;
}

.center{
	position: absolute;
	left: 0px;
	top: 24px;
	width: 100%;
	background: #02335c;
	height:3px;
	z-index: -9999;
}
.separate{
	margin: 50px 0px 40px 0px;
	position: relative;
	height:50px;
}

.tl{
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 160px;
	background-color:#02335c;
	color: #fff;
	font-size: 22px;
	font-weight:bold;
	border-radius: 15px;
	margin: auto;
}
.tl1{
	width: 195px;
}
.clear{
	clear:both; height: 0; line-height: 0; font-size: 0;
}
.texts{
	text-align: left;
	margin: 40px auto;
    overflow: hidden;
	height: 300px;
    width: 400px;
	color: #002450;
	font-weight: bold;
	line-height: 40px;
	font-size: 26px;
	padding: 80px 20px 0px;
}
.texts2{
	text-align: center;
	margin: 20px auto;
    overflow: hidden;
    width: 960px;
	color: #00345B;
	text-indent:2em;
	line-height: 50px;
	font-size: 24px;
	letter-spacing: 3px;
}
.text{
	margin: 60px auto;
	font-weight: bold;
	font-size: 16px;
	width: 800px; 
	text-indent:2em;
}

#footer{
	margin-top: 40px;
	height: 80px;
	background: #404040;
}
.quotation{
	font-weight: bold;
	height: 330px;
	font-size: 88px;
	color: #002450;
	margin-top: 40px;
}
.quo{
	margin-left: 100px;
}
