.wrap{
	width: 980px;
	margin: auto;
	margin-top: 40px;
}
.title{
	margin-top: 40px;
	color: white;
	text-align: left;
	padding: 10px 50px 10px 54px;
	background: #002b46;
	display: block;
	width: 240px;
	margin: 0px;
	font-size: 30px;
	letter-spacing: 4px;
}
.list{
	padding: 0px;
	display: none;
	border-top: 2px solid #002b46;
}
.news{
	width: 890px;
	margin: auto;
	color: #002B46;
	margin-top: 30px;
	margin-left: 50px;
	padding-bottom: 40px;
/*	padding: 0px 20px 30px 35px;*/
	letter-spacing: 2px;
	font-weight: 550;
	border-bottom: dashed 2px grey;
	padding-left: 0px;
}
.news span{
	font-size: 16px;
	color: grey;
	margin-left: 265px;
}
.news li{
	width: 890px;
	margin-top: 20px;
}
.news li a{
	display: block;
	width: 890px;
	font-size: 22px;
	cursor: pointer;
}
.buttons{
	font-size: 12px;
	width: 442px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.buttons a{
	margin-right: 5px;
	padding: 0px 3px 0px 3px;
	border: 1px solid grey;
}

