*{
	margin: 0;
	padding: 0;
}
.reportbg{
	background: rgba(0, 0, 0, 0) url(../images/report/bodybg.jpg) repeat scroll 0 0;
    font-family: "微软雅黑";
    height: 100%;
    width: 100%;
}
.main{
	margin: 0px auto;
	padding-top: 30px;
	width: 1080px;
}
.top{
	background: rgba(0, 0, 0, 0) url(../images/report/datat.png) no-repeat scroll 0 0;
    height: 118px;
    width: 1080px;
}
.databox{
	background: rgba(0, 0, 0, 0) url(../images/report/datam.png) repeat-y scroll 0 0;
    padding-bottom: 30px;
    width: 1080px;
}
.contain{
	margin: 0 auto;
    width: 1048px;
}
.topic{
	color: #e80000;
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto;
    padding-top: 20px;
    width: 940px;
}
.line{
	background-color: #e80000;
    height: 4px;
    margin: 30px auto 25px;
    overflow: hidden;
    width: 940px;
}
.data-info{ 
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #1e2b3c;
	line-height: 24px;
	text-align: left;
	}
.data-info p{
	width: 940px;
	margin: 0 auto;
	font-size:33px;
	text-align:center;
	color:#000000;
	margin-top:50px;
	margin-bottom:60px;
}
.ul_warp {
    width: 940px;
    margin: 0 auto;
}
.star li {
    width: 220px;
    float: left;
    margin: 0px 7px 40px;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
}
.clear {
	clear: both;
    display: block;
}
.clear::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.stu-job {
    padding-left: 6px;
}
