*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	margin-top: 15px;
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/bannerBg.jpg") no-repeat scroll center top;
}
#headimg ul li{
	float: left;
	color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
}
#headimg ul{
	width:900px;
	display: block;
	margin:312px auto;
	
}
#headimg ul li a{
	color: white;
	text-decoration: none;
}
#headimg .checked a,#headimg ul li a:hover{
	color: #f1f36c;
}
.separate{
	background: url(../images/h1Bg.jpg) repeat-x;
	color: #cf0f0f;
	height:58px;
	font-size: 25px;
	line-height: 58px;
	text-align: center;
}
#firstimg{
	height: 543px;
	text-align: center;
}
#secondimg{
	text-align: center;
	background-color:#002060;
	height: 543px;
}
#thirdimg{
	height: 650px;
}
.texts{
	text-align: left;
	margin: 20px auto;
    overflow: hidden;
    width: 600px;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
}
#zju{
	height: 200px;
	width: 800px;
	background-color: #F6F6F6;
	margin: 20px auto;
    overflow: hidden;
    border-bottom: solid #9D9D9D;
}
#zju p{
	text-indent:2em;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	font-size: 10px;
	width: 270px;
}
.btext{
	margin-left: 10px;
	font-weight: bold;
}
#zjd{
	height: 330px;
	width: 800px;
	background-color: #F6F6F6;
	margin: -20px auto;
    overflow: hidden;
}
#zjd table{
	margin-top: 20px;
}
#zjd td{
	padding: 5px;
}
.ptext{
	display: block;
	margin-top: 10px;
	margin-left: 30px;
	font-weight: bold;
	
}
#compare{
	height: 543px;
	position: relative;
}
#footer{
	height: 80px;
	background: #404040;
}

