*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/bannerBg.jpg") no-repeat scroll center top;
}
#headimg ul li{
	float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
}
#headimg ul li a{
	color: white;
	text-decoration: none;
}
#headimg .checked a,#headimg ul li a:hover{
	color: #f1f36c;
}
#headimg ul{
	width:900px;
	display: block;
	margin:312px auto;
	
}
.separate{
	background: url(../images/h1Bg.jpg) repeat-x;
	color: #cf0f0f;
	height:58px;
	font-size: 26px;
	line-height: 58px;
	font-weight: bold;
	text-align: center;
}
#firstimg{
	height: 543px;
	box-sizing: border-box;
	border-radius: 24px;
	background-color: #e4e6e8;
}
#thirdimg{
	height: 500px;
}
.fair{
	clear: both;
}
.fair div{
	margin: 5px;
	float: left;
	width: 298px;
	height: 180px;
	background-size: cover;
}
.wrap{
	width: 935px;
    margin: 0px auto;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 60px;
}
#secondimg{
	margin: auto;
	background:url(../images/employee/Eblue.png);
	background-size: cover;
	height: 543px;
}
.project{
	width: 1300px;
	margin: auto;
}
.wenzi{
	width: 424px;
	height: 543px;
	float: left;
	background: #EC0E11;
	margin-left: 150px;
}
.peitu{
	float: left;
	width: 678px;
	height: 543px;
}
.peitu img{
	padding-top: 50px;
}
#compare{
	height: 543px;
	text-align: center;
	position: relative;
}
#bg{
	position: absolute;
	width: 48%;
	background-color: #000;
    height: 100%;
    opacity: 0.2;
}
#compare p{
	font-size: 36px;
	font-weight: 400;
}
.texts{
	margin: 0 auto;
    overflow: hidden;
    width: 800px;
}
#works{
	text-align: center;
	height: 543px;
}
.clear{
	display: block;
	width: 750px;
	margin: 60px auto;
	clear: both;
}
.clear::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clear li{
	padding:0  30px;
	float: left;
}
.icon{
	display: block;
	width: 1080px;
	margin: 0 auto;
}
.icon li{
	float: left;
	padding-right: 16px;
}
#footer{
	height: 80px;
	background: #404040;
}
/************************************/
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
 .program-combine{
  width: 1300px;
  height: 482px;
  padding-top: 72px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

 
}

 .program-item:last-child .h-line {
  display: none;
}
 .program-item .item-new {
  left: -8px;
}
 .program-item .learn_rate {
  right: -4px;
}
 .program-item .h-line {
  position: absolute;
  width: 48px;
  height: 16px;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  background-color: #afb4b9;
}
 .combine-l {
  float: left;
  width: 424px;
  padding-top: 32px;
  margin-right: 48px;
}
 .combine-r {
  float: left;
  width: 700px !important;
}
 .combine-tit {
  font-size: 36px;
  color: #07111b;
  line-height: 48px;
  max-height: 96px;
}
 .combine-dest,
 .combine-intro {
  font-size: 16px;
  font-weight: 200;
  color: #07111b;
  line-height: 32px;
}
 .combine-intro {
  margin: 16px 0;
}
 .combine-list {
  padding-left: 48px;
}
.program-item {
  margin-right: 48px;
  width: 300px;
  float: left;
}
 .combine-scroll-bar {
  position: absolute;
  left: 82px;
  right: 82px;
  bottom: 48px;
  height: 16px;
  display: none;
}
 .combine-scroll-bar .c-scroll-l {
  width: 100%;
  height: 1px;
  line-height: 1px;
  background: rgba(183, 187, 191, 0.5);
  margin-top: 8px;
}
 .combine-scroll-bar span {
  position: absolute;
  width: 128px;
  height: 16px;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(7, 17, 27, 0.1);
  transition: 0.3s box-shadow linear;
  cursor: pointer;
}
 .combine-scroll-bar span:hover {
  box-shadow: 0px 4px 8px rgba(7, 17, 27, 0.2);
}
.program-item .shadow {
  transition: all linear .3s;
  box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
  overflow: hidden;
}
.program-item .program-list-head {
  height: 96px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f3f5f7;
  overflow: hidden;
}
.program-item .program-list-head div {
  background-size: cover;
  transition: all linear .3s;
  height: 96px;
}
.program-item .program-list-cont {
  position: relative;
  height: 220px;
  overflow: hidden;
  background-color: #fff;
  padding: 0 24px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.program-item .program-list-tit {
  width: 100%;
  padding: 22px 0 8px;
  color: #07111b;
  font-size: 16px;
  line-height: 28px;
  max-height: 55px;
  letter-spacing: -0.1px;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.program-item .program-list-dest {
  font-size: 12px;
  line-height: 24px;
  height: 48px;
  max-height: 48px;
  word-break: normal;
  color: #93999f;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.program-item .program-list-bot {
  position: absolute;
  height: 24px;
  bottom: 24px;
  left: 24px;
  right: 24px;
}
.program-item .text {
  float: left;
  font-size: 12px;
  color: #93999f;
  line-height: 24px;
}
.program-item .price {
  float: right;
  height: 24px;
  line-height: 24px;
  color: #f01414;
  font-weight: 200;
  font-size: 16px;
}
.program-item .c-line,
.program-item .d-line {
  transition: all linear .3s;
  background-color: #fff;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
}
.program-item .c-line {
  width: 264px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.program-item .d-line {
  width: 252px;
}
.program-item .learn_rate {
  position: absolute;
  width: 40px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  background-color: #07111b;
  font-weight: 200;
  text-align: center;
  right: -4px;
  top: 12px;
  z-index: 1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.program-item .learn_rate:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 4px solid #07111b;
  border-right: 4px solid transparent;
  right: 0;
  bottom: -4px;
}
.program-combine-scroll {
    position: absolute;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 40px;
    left: 0;
    top: 0;
}

