*{
	margin: 0;
	padding: 0;
}
#headimg{
	height: 400px;
	text-align:center;
}
.separate{
	background-color:#F6F6F6;
	color: red;
	height:42px;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	font-family: "仿宋";
}
#firstimg,#thirdimg{
	background-color: red;
	height: 400px;
}
#texts{
	color: white;
	font-size: 16px;
	height:50px;
	width: 50%;
	margin-top: 25px;
	margin-left: 25%;
}
#secondimg{
	background-color:blue;
	height: 400px;
}
#compare{
	height: 400px;
	position: relative;
}

