*{
	margin: 0;
	padding: 0;
	
}
#headimg{
	height: 400px;
	text-align:center;
}
.separate{
	background-color:#F6F6F6;
	color: red;
	height:42px;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	font-family: "仿宋";
}
#firstimg,#thirdimg{
	background-color: red;
	height: 400px;
}
#secondimg{
	background-color:blue;
	height: 400px;
}
#compare{
	height: 400px;
	position: relative;
	text-align: center;
}
#compare p{
	font-size: 36px;
	font-weight: 400;
}
#bg{
	background-color: #000000;
	margin-left:25%;
	position: absolute;
	height: 100%;
	width: 50%;
	opacity: 0.2;
}
#last{
	margin-top: 60px;
}
#works{
	height: 400px;
}
