*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/bannerBg.jpg") no-repeat scroll center top;
}
#headimg ul li{
	float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
}
#headimg ul li a{
	color: white;
	text-decoration: none;
}
#headimg .checked a,#headimg ul li a:hover{
	color: #f1f36c;
}
#headimg ul{
	width:900px;
	display: block;
	margin:312px auto;
	
}
.separate{
	background: url(../images/h1Bg.jpg) repeat-x;
	color: #cf0f0f;
	height:58px;
	font-size: 26px;
	line-height: 58px;
	font-weight: bold;
	text-align: center;
}
#firstimg{
	background: url(../images/teaching-model/redBg2.jpg);
	background-size: cover;
	height: 543px;
}
#thirdimg{
	background: url(../images/teaching-model/redBg.jpg);
	background-size: cover;
	height: 543px;
}
#secondimg{
	background:url(../images/teaching-model/blueBg.jpg);
	background-size: cover;
	height: 543px;
}
#compare{
	height: 543px;
	text-align: center;
	position: relative;
}
#bg{
	position: absolute;
	width: 48%;
	background-color: #000;
    height: 100%;
    opacity: 0.2;
}
#compare p{
	font-size: 36px;
	font-weight: 400;
}
.texts{
	margin: 0 auto;
    overflow: hidden;
    width: 800px;
}
#works{
	text-align: center;
	height: 543px;
}
.clear{
	display: block;
	width: 750px;
	margin: 60px auto;
	clear: both;
}
.clear::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clear li{
	padding:0  30px;
	float: left;
}
.icon{
	display: block;
	width: 1080px;
	margin: 0 auto;
}
.icon li{
	float: left;
	padding-right: 16px;
}
#footer{
	height: 80px;
	background: #404040;
}
