*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	margin-top: 15px;
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/bannerBg.jpg") no-repeat scroll center top;
}
#headimg ul li{
	float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
}
#headimg ul li a{
	color: white;
	text-decoration: none;
}
#headimg .checked a,#headimg ul li a:hover{
	color: #f1f36c;
}
#headimg ul{
	width:900px;
	display: block;
	margin:312px auto;
	
}
.separate{
	background: url(../images/h1Bg.jpg) repeat-x;
	color: #cf0f0f;
	height:58px;
	font-size: 25px;
	line-height: 58px;
	text-align: center;
}
#firstimg,#thirdimg{
	background-color: #ac0000;
	height: 543px;
}
#secondimg{
	background-color:#002060;
	height: 543px;
}
#compare{
	height: 543px;
	text-align: center;
}
#compare p{
	font-size: 36px;
	font-weight: 400;
}
.texts{
	margin: 0 auto;
    overflow: hidden;
    width: 800px;
}
#works{
	text-align: center;
	height: 543px;
}
