*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
#headimg{
	margin-top: 5px;
	height:484px;
	background: rgba(0, 0, 0, 0) url("../images/teachers/bannerBg.png") no-repeat scroll center top;
}
#headimg ul{
	width: 980px;
    display: block;
    margin:auto;
    list-style: none;
    padding: 346px 0 0;
}
#headimg ul li{
	float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 55px;
}
#headimg ul li:nth-of-type(2){
	margin-left: 108px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(3){
	margin-left: 110px;
	margin-top: -5px !important;
}
#headimg ul li:nth-of-type(4){
	margin-left: 112px;
	margin-top: -2px !important;
}
#headimg ul li:nth-of-type(5){
	margin-left: 127px;
	margin-top: -2px !important;
}
#headimg ul li a{
	color: #95eaff;
	font-family: '微软雅黑';
    text-decoration: none;
}
#headimg ul li:hover{
	/*border-top: solid 3px #95eaff;
	border-bottom: solid 3px #95eaff;*/
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */
}

#firstimg{
	height: 465px;
	text-align: center;
}
#secondimg{
	height: 660px;
}
#thirdimg{
	background-color:#3c3c3c;
	text-align: center;
	height: 600px;
}

.center{
	position: absolute;
	left: 0px;
	top: 24px;
	width: 100%;
	background: #02335c;
	height:3px;
	z-index: -9999;
}
.separate{
	margin: 50px 0px 40px 0px;
	position: relative;
	height:50px;
}

.tl{
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 160px;
	background-color:#02335c;
	color: #fff;
	font-size: 22px;
	font-weight:bold;
	border-radius: 15px;
	margin: auto;
}
.tl1{
	width: 195px;
}
.clear{
	clear:both; height: 0; line-height: 0; font-size: 0;
}
.texts{
	text-align: left;
	margin: 20px auto;
    overflow: hidden;
    width: 630px;
	color: #000000;
	text-indent:2em;
	font-weight: bold;
	line-height: 30px;
	font-size: 16px;
}
.text{
	margin: 60px auto;
	font-weight: bold;
	font-size: 16px;
	width: 800px; 
	text-indent:2em;
}
#zju{
	height: 200px;
	width: 800px;
	background-color: #F6F6F6;
	margin: 20px auto;
    overflow: hidden;
    border-bottom: solid #9D9D9D;
}
#zju p{
	font-weight: bold;
	text-indent:2em;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	font-size: 10px;
	width: 270px;
}
.btext{
	display: block;
	margin-left: 10px;
	font-weight: bold;
}
#zjd{
	height: 330px;
	width: 800px;
	background-color: #F6F6F6;
	margin: -20px auto;
    overflow: hidden;
}
#zjd table{
	margin-top: 20px;
}
#zjd td{
	padding: 5px;
}
.ptext{
	display: block;
	margin-top: 10px;
	margin-left: 30px;
	font-weight: bold;
	
}
#compare{
	margin: 40px auto;
	width: 980px;
	position: relative;
}
#Internet{
	float: left;
}
#tradition{
	float: right;
}
#VS{
	position: absolute;
	top: 130px;
	left: 48%;
	font-size: 36px;
	color: #006475;
}
#footer{
	margin-top: 40px;
	height: 80px;
	background: #404040;
}

